.row {
	max-width: 100vw;
	margin-left: 0;
	margin-right: 0;
}

/* Section-1 */
.section-1 {
	/* min-height: 100vh; */
	padding: 60px 0px;
	z-index: -4;
}

.mobile-section {
	visibility: hidden;
	display: none;
}
.outline-divnew {
	background: linear-gradient(60deg, #0effb7, #ff0d0d, #ffff00) !important;
	-webkit-text-fill-color: transparent !important;
	-webkit-background-clip: text !important;

	font-size: 24px !important;
	padding: 16px 0 !important;
	width: 100%;
}

/* new styles */
.main-section {
	display: flex;
	height: 75vh;
}

.gif-container {
	width: 10%;
	margin-right: auto;
}

.gifWeb {
	width: 40%;
	margin-left: 4%;
}

.gifWeb img {
	height: 100%;
}

.mint-section {
	display: flex;
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	width: 36% !important;
	background: transparent !important;
}
.mint-sectionnew {
	display: flex;
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
	min-width: 40%;
	background: transparent !important;
}
.mint-container {
	margin-top: auto;
	margin-bottom: auto;
	width: 100% !important;
}

/* section 2 */

.section-2 {
	text-align: center;
	/* padding: 160px 0px; */
	border: solid 5px transparent;
	border-image: linear-gradient(90deg, #0effb7, #ff130d, #ffff00);
	border-image-slice: 1;
}
.section-2new {
	text-align: left;
	/* padding: 160px 0px; */
	border: solid 5px transparent;
	border-image: linear-gradient(90deg, #0effb7, #ff130d, #ffff00);
	border-image-slice: 1;
}

.section-2new .burn-section {
	margin-top: 5%;
	/* opacity: 0.2; */
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 2%;
	margin-bottom: 2%;
}

#bold-title {
	margin-bottom: 4% !important;
}

.section-2new .bold-list li {
	font-size: 20px;
	font-weight: normal;
}

.section-2new .dash-list {
	list-style: '-';
}

.section-2new .disclaimer {
	padding-top: 0;
}

.section-2new .disclaimer p {
	font-size: 19px;
	color: #000000;
	opacity: 0.6;
	font-weight: normal;
	margin-bottom: 4%;
}

.section-2new .note {
	width: 100%;
	padding-bottom: 4%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 20px;
}

.section-2new .note-section {
	padding-top: 0;
}

.section-2new .note-section li {
	font-size: 19px;
	color: #000000;
	opacity: 0.6;
}

.section-2new .dont-burn-section {
	margin-top: 5%;
}

.section-2new .mechanics-section {
	margin-top: 5%;
	margin-bottom: 4%;
}

.section-2new .final-section {
	margin-bottom: 4%;
}

.section-2new .final-section p {
	font-size: 20px;
	padding-bottom: 4%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.section-2new .final-section .desc {
	font-size: 19px;
	color: #000000;
	opacity: 0.6;
}

.section-2 h5 {
	padding-top: 12px;
	margin: 0;
}
.section-2new h5 {
	padding-top: 12px;
	margin: 0;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.section-2 div,
.section-2new div {
	/* padding-top: 80px; */
}

.section-2 p,
.section-2new p {
	font-size: 18px !important;
	color: #000000 !important;
}

/* section 3 */

.section-3 {
	padding: 120px 0px;
}

.section-3 p {
	margin-bottom: 20px;
}

.section-3 h4 {
	padding-top: 80px;
}
.reflect {
	padding-bottom: 48px;
}

.firstrow {
	padding: 48px 24px;
}

/* Section-4 */

.section-4 {
	padding: 184px 0px;
	text-align: center;
	background: linear-gradient(60deg, #0effb7, #ff0d0d, #ffff00) !important;
	color: #000000;
}

.section4-row1 {
	padding-bottom: 120px;
	margin: 0;
}
.section4-row2 {
	margin: 0;
}
.section4-row2 a {
	color: #000000;
}

/* section-5 */

.section-5 {
	padding: 100px 0;
	border: none;
}

.section-5 h1 {
	padding: 48px 0;
}

.section-5 h5 {
	padding-top: 48px;
}

.section-6 {
	padding-top: 95px;
	padding-bottom: 35px;
	margin-top: -5px;
	border: none;
}

.section-6 h1 {
	margin-bottom: 48px;
}

.section-6 .partition-div {
	background: rgba(0, 0, 0, 0.2);
	height: 1px;
	border: none;
	width: 100%;
	margin: 16px 0px;
}

.team-row {
	margin-bottom: 60px;
}

.team-row img {
	width: 100%;
	border: none;
}

.team-row p {
	font-size: 19px !important;
	color: rgba(0, 0, 0, 0.6) !important;
}

.carousel-col {
	margin-left: auto;
	margin-right: auto;
}

.homecarousel li {
	text-align: center;
}

.section-8 {
	margin-top: -5px;
}

.footer {
	padding-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 1080px) {
	.main-section {
		display: flex;
		flex-direction: column;
	}

	.mint-sectionnew {
		width: 100% !important;
		margin-bottom: 8%;
	}

	.main-section .cardDivLarge {
		width: fit-content;
	}

	.section-1 {
		overflow-y: scroll;
	}

	.gifWeb {
		width: 100% !important;
		margin: 0;
	}

	.gifWeb img {
		max-width: 100% !important;
		max-width: 100% !important;
	}
}

@media screen and (max-width: 812px) {
	.footer-brand {
		visibility: hidden;
		display: none;
	}

	.mobile-section {
		display: block !important;
		position: relative !important;
		visibility: visible !important;
	}

	.mintComponent {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100% !important;
	}

	.mobileMintComponent {
		margin-top: 38px;
		margin-left: auto;
		margin-right: auto;
		width: 100% !important;
	}

	.section-1 {
		padding: 90px 0px;
		z-index: -4;
		height: auto;
	}

	.section-2 {
		padding: 120px 0px;
	}

	.subheading {
		float: left;
	}
	p {
		font-size: 18px !important;
	}

	.team-row img {
		width: 40%;
		margin-bottom: 30px;
		border: solid 1px rgba(255, 255, 255, 0.4);
	}
}
