body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1{
  font-size: 40px !important;
}

h2{
  font-size: 32px !important;
}

h3{
  font-size: 28px !important;
}
h4{
  font-size: 24px !important;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 18px !important;
}

p{
  font-size: 19px !important;
  color: rgba(255, 255, 255, 0.7);
  line-height: 23px !important;
}


/* black background */
.dark-bg{
  background-color: #050505;
  color: #FFFFFF;
}

/* white background */
.light-bg{
  background-color: #F2F2F2;
  color: #000000;
}

.transparent-bg{
  background: rgba(0,0,0,0);
  color: #F2F2F2;
}

.px-3{
  padding: 0 24px !important;
}

/* primary button */
.btn-primary{
  color: #000000 !important;
  background: linear-gradient(60deg,#FFFF00, #FF0D0D,  #0EFFB7) !important;
  border: none;
  border-radius: 0;
  padding: 16px 0;
  font-size: 20px;
}

.btn-primary:hover{
  color: #000000 !important;
  background: linear-gradient(60deg, #0EFFB7, #FF0D0D, #FFFF00) !important;
  border: none;
  border-radius: 0;
  padding: 16px 0;
  font-size: 20px;
}

.btn-primary:active{
  color: #000000 !important;
  background: linear-gradient(60deg, #0EFFB7, #FF0D0D, #FFFF00) !important;
  border: none;
  border-radius: 0;
  padding: 16px 0;
  font-size: 20px;
}

/* 2nd primary button */
.btn-primary2{
  background: linear-gradient(60deg, #0EFFB7, #FF0D0D, #FFFF00) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  border-image: linear-gradient(90deg, #0EFFB7, #FF130D, #FFFF00) !important;
  border-width: 2px;
  border-image-slice: 1 !important;
  font-size: 24px !important;
  padding: 16px 0 !important;
}

.btn-primary2:hover{
  color: #040404 !important;
  background: linear-gradient(60deg, #0EFFB7, #FF0D0D, #FFFF00) !important;
  -webkit-text-fill-color: #040404 !important;
  font-size: 24px !important;
  padding: 16px 0 !important;
}



/* btn outline */
.btn-outline{
  border: solid white 2px !important;
  color: white !important;
  border-radius: 0 !important;
  background-color: #040404 !important;
  margin: 10px 0;
  /* font-size: 20px; */
  /* padding: 20px 24px; */
}

.btn-outline:hover{
  background: linear-gradient(60deg, #0EFFB7, #FF0D0D, #FFFF00) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  border: solid 2px transparent !important;
  border-image: linear-gradient(90deg, #0EFFB7, #FF130D, #FFFF00) !important;
  border-image-slice: 1 !important;
  margin: 10px 0;
  /* font-size: 20px; */
  /* padding: 20px 24px; */
}

.btn-outline:active{
  background: linear-gradient(60deg, #0EFFB7, #FF0D0D, #FFFF00) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  border: solid 2px transparent !important;
  border-image: linear-gradient(90deg, #444948, #FF130D, #FFFF00) !important;
  border-image-slice: 1 !important;
  margin: 10px 0;
  /* font-size: 20px;
  padding: 20px 24px; */
}

.btn-outline-connected{
  background: linear-gradient(60deg, #0EFFB7, #FF0D0D, #FFFF00) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  border: solid 5px transparent;
  border-image: linear-gradient(90deg, #0EFFB7, #FF130D, #FFFF00);
  border-image-slice: 1;
  font-size: 20px;
  padding: 20px 24px;
}

.btn:disabled{
  opacity: 0.4;
}



/* gradient text */
.primary-text{
  background: linear-gradient(60deg, #0EFFB7, #FF0D0D, #FFFF00) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
}

.btn-block{
  width: 100%;
}



@media screen and (max-width: 812px) {
  h1{
    font-size: 36px !important;
  }
  p{
    font-size: 18px !important;
    line-height: 20px !important;
  }
}
